body {
    margin: 0;
    padding: 0;
}

.login-layout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #151414a0;
    z-index: 1000;
    visibility: hidden;
}

.login-layout.active {
    visibility: visible;
}

.form-login {
    position: relative;
    height: 300px;
    width: 550px;
    background-color: #fff;
}

#close-login-layout {
    position: absolute;
    top: 5px;
    right: 10px;
}

.form-heading {
    font-size: 25px;
    color: rgba(255, 0, 0, 0.989);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    text-align: center;
}

.form-group>* {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    outline: none;
    width: 80%;
    height: 40px;
    padding: 0px 20px;
}


.form-group>p {
    margin-left: 35px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    font-style: italic;
}

#submit {
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

#submit:hover {
    background-color: red;
    color: white;
    transition: all 0.3s linear;
}

.form-question {
    text-align: center;
}

/*dang ki tai khoan*/

.sign-up-layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #151414a0;
    z-index: 1000;
    visibility: hidden;
}

.sign-up-layout.active {
    visibility: visible;
}

.form-signup {

    height: 71%;
    width: 30%;
    background-color: white;
    position: relative;
}

.logosignup {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    max-height: max-content;
}

.signup-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-group>* {
    outline: 0;
    border: 0;
    background-color: rgba(128, 128, 128, 0.063);
    border-bottom: 1px solid rgba(128, 128, 128, 0.601);
    margin-top: 10px;
    width: 80%;
    height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
}

.signup-group>input:hover {
    border: 1.5px solid rgba(0, 0, 255, 0.311);
    transition: all 0.2s linear;
}

.signup-group>#submit {
    margin-top: 20px;
}

.tab-signup>* {
    margin: 8px;
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
}

#comeback-login {
    position: absolute;
    left: 2px;
    background-color: gray;
}

#close-signup-layout {
    position: absolute;
    right: 2px;
    background-color: gray;
}

.tab-signup>a:hover {
    background-color: red !important;
    color: black !important;
}