.main {
    margin-top: 95px;
}

.panel {
    width: 90%;
    margin: 20px auto;
    border: solid #0B0C10 1px;
}

.panel-heading {
    padding: 12px;
    background-color: #0B0C10;
    font-weight: 600;
    color: white;
}

.panel-body {
    padding: 12px;
}

.panel-body label {
    font-weight: 600;
}

.form-group {
    display: block;
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    margin-top: 12px;
}

.table {
    width: 100%;
}

.table td {
    padding: 0 5px;
}

.th7_8 {
    min-width: 110px;
}

#result td {
    text-align: center;
}