.cart {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart table {
    width: min(100%, 1200px);
}

.cart table tr {
    overflow: hidden;
    height: 50px;
}
.cart td {
    border: 1px solid black;
    text-align: center
}
.cart th {
    border: 1px solid black;
    text-align: center
}
#trash {
    color: darkgray;
    cursor: pointer;
}
#trash:hover {
    color: red;
}


