html {
    font-size: 5px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

#wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    height: auto;
}

@media all and (max-width: 600px) {
    #header {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-top {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1000;
        background-color: #0B0C10;
        top: 0;
    }

    .header_logo {
        margin: auto 5%;
    }

    .logo {
        width: 4em;
        height: 3em;
    }

    .search-box {
        width: 15.4em;
        height: 2em;
        margin: auto;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
    }

    .search-box .search-text {
        width: 12em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 0 1em;
        font-size: 16px;
    }

    .search-box .search-button {
        width: 3em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    .login-cart {
        margin: auto 3%;
    }

    .login-cart a {
        color: #fff;
        text-decoration: none;
        font-size: 8px;
        display: block;
        margin: 0.5em;
    }

    .header-bot {
        display: flex;
        width: 100%;
    }

    .menu {
        margin: 8em 0.5em;
        margin-top: 11em;
        z-index: 100;
    }

    .menu ul {
        width: 8.6em;
        margin: 0 auto;
        padding: 0;
        border: 2px solid #0B0C10;
        border-bottom: none;
        border-radius: 5px;
        box-shadow: 0.3em 0.3em gainsboro;
        list-style: none;
        display: block;
    }

    .menu ul li {
        width: 6.6em;
        position: relative;
        font-size: 15px;
        padding: 1em 1em;
        z-index: 100;
        border-bottom: 2px solid #0B0C10;
        background-color: #fff;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu li:hover {
        background-color: #c89979;
    }

    .menu li a:hover {
        color: aqua;
    }

    .slide {
        width: 25em;
        height: 10em;
        overflow: hidden;
        margin: 9em auto;
        margin-top: 12.5em;
        border-radius: 1em;
    }

    .change-slide {
        width: 750em;
        transition: all 0.5s;
    }

    .change-slide img {
        width: 25em;
        height: 10em;
        float: left;
    }

    .next-prev {
        position: absolute;
        top: 16em;
        color: gainsboro;
        width: 20em;
    }

    .next-prev i {
        font-size: 2em;
        cursor: pointer;
    }

    .next {
        float: right;
    }
    #searchProduct{
        position: fixed;
        width: 15em;
        overflow: scroll;
        position: absolute;
        top: 6.3em;
        height: auto;
        padding: 0;
        margin: 0;
    }
    #searchProduct::-webkit-scrollbar {
        display: none;
    }
    #searchProduct li{
        width: 13em;
        margin: 0.5em;
        border: 1px solid black;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em dimgray;
        display: flex;
        background-color: aliceblue;
    }
    #searchProduct li .C-Slide{
        width: 8em;
        border-radius: 1em;
    }
    #searchProduct li .info .cost{
        padding: 0;
    }
    #searchProduct li a{
        color: black;
    }
    .main {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .titlecont {
        border: 1px solid black;
        width: 15em;
        text-align: center;
        margin: 1em auto;
        font-size: 1.2em;
        padding: 0.3em;
        background-color: #0B0C10;
        color: #fff;
        border-radius: 1em;
        text-transform: uppercase;
    }

    .content {
        width: 28em;
        margin: 0 auto;
        margin-bottom: 10em;
        overflow: hidden;
        border: 1px solid black;
        padding-bottom: 1.5em;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em dimgray;
    }

    .content ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0 0.5em;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .content ul li {
        width: 12em;
        margin: 0.5em;
        border: 1px solid black;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em dimgray;
    }

    .content ul li a {
        text-transform: uppercase;
        color: black;
    }

    .content .C-Slide {
        width: 12em;
        padding: 0.2em 0;
    }

    .info {
        padding: 0.5em;
        border-top: 1px solid black;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;

    }

    .info .name-info {
        height: 4em;
        overflow: hidden;
        font-size: 11px;
    }

    .cost {
        font-weight: bold;
    }

    .footer {
        width: 100%;
        background-color: #0B0C10;
    }

    .mail {
        width: 100%;
        height: 9em;
        display: block;
        margin: 0;
        padding: 1em 0;
    }

    .mail-box {
        width: 25.7em;
        height: 2.8em;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
        margin: 0 auto;
    }

    .mail-text {
        width: 20em;
        height: 2.65em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 1em;
        font-size: 16px;
    }

    .mail-button {
        width: 5em;
        height: 3.2em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    .txt-mail {
        width: 100%;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        color: #fff;
    }

    .information {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px #fff;
    }

    .information ul {
        color: #fff;
        width: 30%;
        list-style-type: none;
    }

    .information ul li {
        margin: 1em;
    }

    .information ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }

    .tit-inf {
        text-transform: uppercase;
    }
}

@media all and (min-width: 600px) {
    #header {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-top {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1000;
        background-color: #0B0C10;
        top: 0;
    }

    .header_logo {
        margin: auto 5%;
    }

    .logo {
        width: 5em;
        height: 4em;
    }

    .search-box {
        width: 20em;
        height: 2em;
        margin: auto;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
    }

    .search-box .search-text {
        width: 17em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 0 1em;
        font-size: 16px;
    }

    .search-box .search-button {
        width: 3em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }
    .login-cart {
        margin: auto 5%;
    }

    .login-cart a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        display: block;
        margin: 1em;
    }

    .header-bot {
        display: flex;
        width: 100%;
    }

    .menu {
        margin: 9em 2em;
        z-index: 100;
    }

    .menu ul {
        width: 10.6em;
        margin: 0 auto;
        padding: 0;
        border: 2px solid #0B0C10;
        border-bottom: none;
        border-radius: 5px;
        box-shadow: 0.3em 0.3em gainsboro;
        list-style: none;
        display: block;
    }

    .menu ul li {
        width: 8.6em;
        position: relative;
        font-size: 15px;
        padding: 1.5em 1em;
        z-index: 100;
        border-bottom: 2px solid #0B0C10;
        background-color: #fff;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu li:hover {
        background-color: #c89979;
    }

    .menu li a:hover {
        color: aqua;
    }

    .slide {
        width: 40em;
        height: 20em;
        overflow: hidden;
        margin: 8em auto;
        border-radius: 1em;
    }

    .change-slide {
        width: 750em;
        transition: all 0.5s;
    }

    .change-slide img {
        width: 75em;
        height: 20em;
        float: left;
    }

    .next-prev {
        position: absolute;
        top: 16em;
        color: gainsboro;
        width: 40em;
    }

    .next-prev i {
        font-size: 3em;
        cursor: pointer;
    }

    .next {
        float: right;
    }
    #searchProduct{
        position: fixed;
        width: 20em;
        overflow: scroll;
        position: absolute;
        top: 4em;
        height: auto;
        padding: 0;
        margin: 0;
    }
    #searchProduct::-webkit-scrollbar {
        display: none;
    }
    #searchProduct li{
        width: 18em;
        margin: 0.5em;
        border: 1px solid black;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em dimgray;
        display: flex;
        background-color: aliceblue;
    }
    #searchProduct li .C-Slide{
        width: 8em;
        border-radius: 1em;
    }
    #searchProduct li a{
        color: black;
    }
    .main {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .titlecont {
        border: 1px solid black;
        width: 15em;
        text-align: center;
        margin: 1em auto;
        font-size: 1.2em;
        padding: 0.3em;
        background-color: #0B0C10;
        color: #fff;
        border-radius: 1em;
        text-transform: uppercase;
    }

    .content {
        width: 50em;
        margin: 0 auto;
        margin-bottom: 10em;
        overflow: hidden;
        border: 1px solid black;
        padding-bottom: 1.5em;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em dimgray;
    }

    .content ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0 1em;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .content ul li {
        width: 14em;
        margin: 0.5em;
        border: 1px solid black;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em dimgray;
    }

    .content ul li a {
        text-transform: uppercase;
        color: black;
    }

    .content .C-Slide {
        width: 14em;
        padding: 0.2em 0;
    }

    .info {
        padding: 0.5em;
        border-top: 1px solid black;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }

    .info .name-info {
        height: 4em;
        overflow: hidden;
    }

    .cost {
        font-weight: bold;
    }

    .footer {
        width: 100%;
        background-color: #0B0C10;
    }

    .mail {
        width: 100%;
        height: 9em;
        display: block;
        margin: 0;
        padding: 1em 0;
    }

    .mail-box {
        width: 29.7em;
        height: 2.8em;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
        margin: 0 auto;
    }

    .mail-text {
        width: 24em;
        height: 2.65em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 1em;
        font-size: 16px;
    }

    .mail-button {
        width: 5em;
        height: 3.2em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    .txt-mail {
        width: 100%;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        color: #fff;
    }

    .information {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px #fff;
    }

    .information ul {
        color: #fff;
        width: 30%;
        list-style-type: none;
    }

    .information ul li {
        margin: 1em;
    }

    .information ul li a {
        text-decoration: none;
        color: #fff;
    }

    .tit-inf {
        text-transform: uppercase;
    }
}

@media all and (min-width: 1024px) {
    #header {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-top {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1000;
        background-color: #0B0C10;
        top: 0;
    }

    .header_logo {
        margin: auto 5%;
    }

    .logo {
        width: 7em;
        height: 5em;
    }

    .search-box {
        width: 29.7em;
        height: 2.8em;
        margin: auto;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
    }

    .search-box .search-text {
        width: 24em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 0 1em;
        font-size: 16px;
    }

    .search-box .search-button {
        width: 5em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    #searchProduct {
        width: 29.7em;
        position: absolute;
        top: 4.65em;
        height: 10em;
        position: fixed;
    }

    .login-cart {
        margin: auto 5%;
    }

    .login-cart a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        display: block;
        margin: 1em;
    }

    .header-bot {
        display: flex;
        width: 100%;
    }

    .menu {
        margin: 11em 2em;
        z-index: 100;
    }

    .menu ul {
        width: 14.6em;
        margin: 0;
        padding: 0;
        border: 2px solid #0B0C10;
        border-bottom: none;
        border-radius: 5px;
        box-shadow: 0.3em 0.3em gainsboro;
        list-style: none;
        display: block;
    }

    .menu ul li {
        width: 8.9em;
        position: relative;
        font-size: 20px;
        padding: 1em;
        z-index: 100;
        border-bottom: 2px solid #0B0C10;
        background-color: #fff;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
    }

    .menu li:hover {
        background-color: #c89979;
    }

    .menu li a:hover {
        color: aqua;
    }

    .slide {
        width: 75em;
        height: 20em;
        overflow: hidden;
        margin-top: 10em;
        border-radius: 1em;
    }

    .change-slide {
        width: 750em;
        transition: all 0.5s;
    }

    .change-slide img {
        width: 75em;
        height: 20em;
        float: left;
    }

    .next-prev {
        position: absolute;
        top: 18em;
        color: gainsboro;
        width: 75em;
    }

    .next-prev i {
        font-size: 3em;
        cursor: pointer;
    }

    .next {
        float: right;
    }
    #searchProduct{
        width: 29em;
        overflow: scroll;
        height: auto;
        padding: 0;
        margin: 0;
    }
    /* #searchProduct::-webkit-scrollbar {
        display: none;
    } */
    #searchProduct li{
        width: 27em;
        margin: 0.5em;
        border: 1px solid black;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em dimgray;
        display: flex;
        background-color: aliceblue;
    }
    #searchProduct li .C-Slide{
        width: 8em;
        border-radius: 1em;
    }
    #searchProduct li a{
        color: black;
    }
    .main {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .titlecont {
        border: 1px solid black;
        width: 15em;
        text-align: center;
        margin: 1em auto;
        font-size: 1.2em;
        padding: 0.3em;
        background-color: #0B0C10;
        color: #fff;
        border-radius: 1em;
        text-transform: uppercase;
    }

    .content {
        width: 75em;
        margin: 0 auto;
        margin-bottom: 10em;
        overflow: hidden;
        border: 1px solid black;
        padding-bottom: 1.5em;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em dimgray;
    }

    .content ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0 3em;
        align-items: center;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .content ul li {
        width: 15em;
        margin: 0.5em 3em 0.5em 1em;
        border: 1px solid black;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em dimgray;
    }

    .content ul li:nth-child(n+7) {
        display: block;
    }

    .content ul li a {
        text-transform: uppercase;
        color: black;
    }

    .content .C-Slide {
        width: 15em;
        padding: 0.2em 0;
    }

    .info {
        padding: 0.5em;
        border-top: 1px solid black;
        box-sizing: border-box;
        overflow: hidden;
    }

    .info .name-info {
        height: 4em;
        overflow: hidden;
    }

    .cost {
        font-weight: bold;
    }

    .footer {
        width: 100%;
        background-color: #0B0C10;
    }

    .mail {
        width: 100%;
        height: 9em;
        display: block;
        margin: 0;
        padding: 1em 0;
    }

    .mail-box {
        width: 29.7em;
        height: 2.8em;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
        margin: 0 auto;
    }

    .mail-text {
        width: 24em;
        height: 2.65em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 1em;
        font-size: 16px;
    }

    .mail-button {
        width: 5em;
        height: 3.2em;
        border: none;
        font-weight: 700;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    .txt-mail {
        width: 100%;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        color: #fff;
    }

    .information {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px #fff;
    }

    .information ul {
        color: #fff;
        width: 30%;
        list-style-type: none;
    }

    .information ul li {
        margin: 1em;
    }

    .information ul li a {
        text-decoration: none;
        color: #fff;
    }

    .tit-inf {
        text-transform: uppercase;
    }
}