html {
    font-size: 5px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

#wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    height: auto;
}

@media all and (max-width: 600px) {
    #header {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-top {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1000;
        background-color: #0B0C10;
        top: 0;
    }

    .header_logo {
        margin: auto 5%;
    }

    .logo {
        width: 4em;
        height: 3em;
    }

    .search-box {
        width: 15.4em;
        height: 2em;
        margin: auto;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
    }

    .search-box .search-text {
        width: 12em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 0 1em;
        box-sizing: border-box;
        font-size: 16px;
    }

    .search-box .search-button {
        width: 3em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    #searchProduct {
        width: 20em;
        position: absolute;
        top: 3.4em;
        height: 10em;
        position: fixed;
    }

    .login-cart {
        margin: auto 5%;
    }

    .login-cart a {
        color: #fff;
        text-decoration: none;
        font-size: 8px;
        display: block;
        margin: 1em;
    }

    .header-bot {
        display: flex;
        width: 100%;
        height: 24em;
    }

    .menu {
        margin: 7em 0.5em;
        z-index: 100;
    }

    .menu ul {
        width: 8.6em;
        margin: 0 auto;
        padding: 0;
        border: 2px solid #0B0C10;
        border-bottom: none;
        border-radius: 5px;
        box-shadow: 0.3em 0.3em gainsboro;
        list-style: none;
        display: block;
    }

    .menu ul li {
        width: 6.6em;
        position: relative;
        font-size: 15px;
        padding: 1em 1em;
        z-index: 100;
        border-bottom: 2px solid #0B0C10;
        background-color: #fff;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu li:hover {
        background-color: #c89979;
    }

    .menu li a:hover {
        color: aqua;
    }

    .menu .sub-menu {
        position: absolute;
        top: 0;
        left: 8.7em;
        display: none;
    }

    .menu .sub-menu li {
        width: 6.6em;
    }

    .menu .sub-menu li:hover {
        background-color: #c89979;
    }

    .menu li:hover .sub-menu {
        display: block;
    }

    .image {
        width: 25em;
        height: 12em;
        margin: 8em auto;
        border-radius: 1em;
    }

    .main {
        margin: 10em 0;
        padding: 0;
        width: 100%;
        height: auto;
        background-color: #f4f4f4;
    }

    .container {
        width: 30em;
        margin: 0 auto;
        padding: 24px 0;
    }

    .product-detail {
        margin-bottom: 24px;
        padding: 24px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 6px #00000060
    }

    .product-image img {
        width: 100%;
        height: 30em;
    }

    .product-name {
        line-height: 30px;
        color: #333;
        overflow: hidden;
    }

    .product-price {
        display: block;
        margin: 180px 0 20px 0;
        font-size: 6rem;
        font-weight: 700;
        color: #df954a;
    }

    .product-action {
        display: flex;
        justify-content: space-between;
    }

    .btn-buy {
        width: 60%;
        padding: 10px 0;
        background-color: #fd475a;
        color: white;
        line-height: 45px;
        font-size: 5rem;
        font-weight: 600;
        text-align: center;
        display: block;
        border-radius: 6px;
    }

    .btn-buy:hover {
        background-color: #bf1e2d;
    }

    .btn-add-cart {
        width: 38%;
        padding: 10px 0;
        background-color: #dda369;
        color: #0B0C10;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        display: block;
        border-radius: 6px;
    }

    .btn-add-cart:hover {
        background-color: #df954a;
    }

    .icon-cart {
        font-weight: 600;
    }

    .product-description {
        padding: 24px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 6px #00000060;
        font-size: larger;
    }

    /* Footer */
    .footer {
        width: 100%;
        background-color: #0B0C10;
    }

    .mail {
        width: 100%;
        height: 9em;
        display: block;
        margin: 0;
        padding: 1em 0;
    }

    .mail-box {
        width: 25.7em;
        height: 2.8em;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
        margin: 0 auto;
    }

    .mail-text {
        width: 20em;
        height: 2.65em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 1em;
        font-size: 16px;
    }

    .mail-button {
        width: 5em;
        height: 3.2em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        font-weight: 600;
        cursor: pointer;
    }

    .txt-mail {
        width: 100%;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        color: #fff;
    }

    .information {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px #fff;
    }

    .information ul {
        color: #fff;
        width: 30%;
        list-style-type: none;
    }

    .information ul li {
        margin: 0.5em;
    }

    .information ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }

    .tit-inf {
        text-transform: uppercase;
    }
}

@media all and (min-width: 600px) {
    #header {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-top {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1000;
        background-color: #0B0C10;
        top: 0;
    }

    .header_logo {
        margin: auto 5%;
    }

    .logo {
        width: 5em;
        height: 4em;
    }

    .search-box {
        width: 20em;
        height: 2em;
        margin: auto;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
    }

    .search-box .search-text {
        width: 17em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 0 1em;
        font-size: 16px;
    }

    .search-box .search-button {
        width: 3em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    #searchProduct {
        width: 20em;
        position: absolute;
        top: 3.4em;
        height: 10em;
        position: fixed;
    }

    .login-cart {
        margin: auto 5%;
    }

    .login-cart a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        display: block;
        margin: 1em;
    }

    .header-bot {
        display: flex;
        width: 100%;
        height: 26em;
    }

    .menu {
        margin: 6em 1em;
        z-index: 100;
    }

    .menu ul {
        width: 10.6em;
        margin: 0 auto;
        padding: 0;
        border: 2px solid #0B0C10;
        border-bottom: none;
        border-radius: 5px;
        box-shadow: 0.3em 0.3em gainsboro;
        list-style: none;
        display: block;
    }

    .menu ul li {
        width: 8.6em;
        position: relative;
        font-size: 15px;
        padding: 1.5em 1em;
        z-index: 100;
        border-bottom: 2px solid #0B0C10;
        background-color: #fff;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu li:hover {
        background-color: #c89979;
    }

    .menu li a:hover {
        color: aqua;
    }

    .menu .sub-menu {
        position: absolute;
        top: 0;
        left: 10.7em;
        display: none;
    }

    .menu .sub-menu li {
        width: 8.6em;
    }

    .menu .sub-menu li:hover {
        background-color: #c89979;
    }

    .menu li:hover .sub-menu {
        display: block;
    }

    .image {
        width: 45em;
        height: 15em;
        margin: 7em auto;
        border-radius: 1em;
    }

    .main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background-color: #f4f4f4;
    }

    .container {
        width: 50em;
        margin: 0 auto;
        padding: 24px 0;
    }

    .product-detail {
        margin-top: 90px;
        margin-bottom: 24px;
        padding: 24px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 6px #00000060
    }

    .product-image img {
        width: 100%;
    }

    .product-name {
        line-height: 30px;
        color: #333;
        overflow: hidden;
    }

    .product-price {
        display: block;
        margin: 180px 0 30px 0;
        font-size: 6rem;
        font-weight: 700;
        color: #df954a;
    }

    .product-action {
        display: flex;
        justify-content: space-between;
    }

    .btn-buy {
        width: 60%;
        padding: 30px 0;
        background-color: #fd475a;
        color: white;
        font-size: 5rem;
        font-weight: 600;
        text-align: center;
        display: block;
        border-radius: 6px;
    }

    .btn-buy:hover {
        background-color: #bf1e2d;
    }

    .btn-add-cart {
        width: 38%;
        padding: 30px 0;
        background-color: #dda369;
        color: #0B0C10;
        line-height: 30px;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        display: block;
        border-radius: 6px;
    }

    .btn-add-cart:hover {
        background-color: #df954a;
    }

    .icon-cart {
        font-weight: 600;
    }

    .product-description {
        padding: 24px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 6px #00000060;
        font-size: larger;
    }

    /* Footer */
    .footer {
        width: 100%;
        background-color: #0B0C10;
    }

    .mail {
        width: 100%;
        height: 9em;
        display: block;
        margin: 0;
        padding: 1em 0;
    }

    .mail-box {
        width: 29.7em;
        height: 2.8em;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
        margin: 0 auto;
    }

    .mail-text {
        width: 24em;
        height: 2.65em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 1em;
        font-size: 16px;
    }

    .mail-button {
        width: 5em;
        height: 3.2em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    .txt-mail {
        width: 100%;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        color: #fff;
    }

    .information {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px #fff;
    }

    .information ul {
        color: #fff;
        width: 30%;
        list-style-type: none;
    }

    .information ul li {
        margin: 1em;
    }

    .information ul li a {
        text-decoration: none;
        color: #fff;
    }

    .tit-inf {
        text-transform: uppercase;
    }
}

@media all and (min-width: 1024px) {
    #header {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-top {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1000;
        background-color: #0B0C10;
        top: 0;
    }

    .header_logo {
        margin: auto 5%;
    }

    .logo {
        width: 7em;
        height: 5em;
    }

    .search-box {
        width: 29.7em;
        height: 2.8em;
        margin: auto;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
    }

    .search-box .search-text {
        width: 24em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 0 1em;
        font-size: 16px;
    }

    .search-box .search-button {
        width: 5em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        cursor: pointer;
    }

    #searchProduct {
        width: 29.7em;
        position: absolute;
        top: 4.65em;
        height: 10em;
        position: fixed;
    }

    .login-cart {
        margin: auto 5%;
    }

    .login-cart a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        display: block;
        margin: 1em;
    }

    .header-bot {
        display: flex;
        width: 100%;
        height: 30em;
    }

    .menu {
        margin: 9em 2em;
        z-index: 100;
    }

    .menu ul {
        width: 14.6em;
        margin: 0;
        padding: 0;
        border: 2px solid #0B0C10;
        border-bottom: none;
        border-radius: 5px;
        box-shadow: 0.3em 0.3em gainsboro;
        list-style: none;
        display: block;
    }

    .menu ul li {
        width: 8.9em;
        position: relative;
        font-size: 20px;
        padding: 1em;
        z-index: 100;
        border-bottom: 2px solid #0B0C10;
        background-color: #fff;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
    }

    .menu li:hover {
        background-color: #c89979;
    }

    .menu li a:hover {
        color: aqua;
    }

    .menu .sub-menu {
        position: absolute;
        top: 0;
        left: 11em;
        display: none;
    }

    .menu .sub-menu li {
        width: 12.6em;
    }

    .menu .sub-menu li:hover {
        background-color: #c89979;
    }

    .menu li:hover .sub-menu {
        display: block;
    }

    .image {
        width: 75em;
        height: 20em;
        margin: 8em auto;
        border-radius: 1em;
    }

    .main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background-color: #f4f4f4;
    }

    .container {
        width: 75em;
        margin: 0 auto;
        padding: 24px 0;
    }

    .product-detail {
        margin-bottom: 24px;
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 6px #00000060
    }

    .product-image {
        width: 50%;
    }

    .product-image img {
        width: 100%;
    }

    .product-center {
        width: 50%;
        padding-left: 24px;
    }

    .product-name {
        margin-top: 50px;
        line-height: 30px;
        color: #333;
        overflow: hidden;
    }

    .product-price {
        display: block;
        margin: 180px 0 30px 0;
        font-size: 6rem;
        font-weight: 700;
        color: #df954a;
    }

    .product-action {
        display: flex;
        justify-content: space-between;
    }

    .btn-buy {
        width: 60%;
        padding: 40px 0;
        background-color: #fd475a;
        /* display: block; */
        color: white;
        font-size: 5rem;
        font-weight: 600;
        text-align: center;
        display: block;
        border-radius: 6px;
    }

    .btn-buy:hover {
        background-color: #bf1e2d;
    }

    .btn-add-cart {
        width: 38%;
        padding: 40px 0;
        background-color: #dda369;
        /* display: block; */
        color: #0B0C10;
        line-height: 30px;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        display: block;
        border-radius: 6px;
    }

    .btn-add-cart:hover {
        background-color: #df954a;
    }

    .icon-cart {
        font-weight: 600;
    }

    .product-description {
        padding: 24px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 6px #00000060;
        font-size: larger;
    }

    /* Footer */
    .footer {
        width: 100%;
        background-color: #0B0C10;
    }

    .mail {
        width: 100%;
        height: 9em;
        display: block;
        margin: 0;
        padding: 1em 0;
    }

    .mail-box {
        width: 29.7em;
        height: 2.8em;
        background-color: #fff;
        display: flex;
        border-radius: 1em;
        margin: 0 auto;
    }

    .mail-text {
        width: 24em;
        height: 2.65em;
        border: none;
        border-radius: 1em 0 0 1em;
        outline: none;
        padding: 1em;
        font-size: 16px;
    }

    .mail-button {
        width: 5em;
        height: 3.2em;
        border: none;
        background-color: #c89979;
        border-radius: 0 1em 1em 0;
        font-weight: 600;
        cursor: pointer;
    }

    .txt-mail {
        width: 100%;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        color: #fff;
    }

    .information {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px #fff;
    }

    .information ul {
        color: #fff;
        width: 30%;
        list-style-type: none;
    }

    .information ul li {
        margin: 1em;
    }

    .information ul li a {
        text-decoration: none;
        color: #fff;
    }

    .tit-inf {
        text-transform: uppercase;
    }
}